[submodule "opt/zelda"]
	path = opt/zelda
	url = https://github.com/benknoble/zelda-vim.git
[submodule "start/gitignore"]
	path = start/gitignore
	url = https://github.com/benknoble/gitignore-vim.git
[submodule "start/invader"]
	path = start/invader
	url = https://github.com/benknoble/invader-vim.git
[submodule "start/requirements"]
	path = start/requirements
	url = https://github.com/benknoble/requirements.txt.vim.git
[submodule "start/auto-origami"]
	path = start/auto-origami
	url = https://github.com/benknoble/vim-auto-origami
[submodule "start/plink"]
	path = start/plink
	url = https://github.com/benknoble/vim-plink.git
[submodule "start/scala"]
	path = opt/scala
	url = https://github.com/benknoble/vim-scala.git
[submodule "start/synstax"]
	path = start/synstax
	url = https://github.com/benknoble/vim-synstax.git
[submodule "start/tmplr"]
	path = opt/tmplr
	url = https://github.com/benknoble/vim-tmplr.git
[submodule "start/sexp"]
	path = start/sexp
	url = https://github.com/benknoble/vim-sexp
[submodule "start/hex"]
	path = start/hex
	url = https://github.com/benknoble/vim-hex
[submodule "start/sort"]
	path = start/sort
	url = https://github.com/benknoble/vimsort
[submodule "start/simpl"]
	path = start/simpl
	url = https://github.com/benknoble/vim-simpl
[submodule "start/pbcopy"]
	path = start/pbcopy
	url = https://github.com/benknoble/vimpbcopy
[submodule "start/wiki-md"]
	path = start/wiki-md
	url = https://github.com/benknoble/wiki-md
[submodule "start/popsikey"]
	path = start/popsikey
	url = https://github.com/benknoble/popsikey
[submodule "opt/rust-doc"]
	path = opt/rust-doc
	url = https://github.com/benknoble/rust-doc
[submodule "opt/dafny"]
	path = opt/dafny
	url = https://github.com/benknoble/vim-dafny
[submodule "start/mips"]
	path = start/mips
	url = https://github.com/benknoble/vim-mips
[submodule "opt/scribble"]
	path = opt/scribble
	url = https://github.com/benknoble/scribble.vim
